{% extends "cart/base.html.twig" %}

{% block banniere %}
	<!-- banniere -->
	<section class="h-flex">
		<div class="presentation">
			<div class='title-flex'>
				<div class="trait trait-left">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>
				<h1 class='h1-presentation'>
					Panier
				</h1>
				<div class="trait trait-right">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>

			</section>
		{% endblock %}
		{% block content %}


			<div class="container-table">

				{% if items | length > 0  %}
					<div class=" p-3 center flex facturation">
						<section class='expedition_container'>
							<section class="expedition">
								<h2 class="grey">
									Détails de facturation
								</h2>
								{{ form_start(form_livraison, {'id': 'form-order'}) }}
								{{ form_row(form_livraison.name)}}
								{{ form_row(form_livraison.numberAdress) }}
								{{ form_row(form_livraison.nameAdress )}}
								{{ form_row(form_livraison.postalCode )}}
								{{ form_row(form_livraison.country)}}
								{# {{ form_row(form_livraison.expedition) }} #}
								<p class='TC'>
									Vos articles seront disponibles dans notre boutique, 60 rue Marcel Dassault
																																																															93140 Bondy
								</p>

								<button type="submit" class="btn btn-primary">
									Commander
								</button>
								{{ form_end(form_livraison) }}

							</section>

							<table class="table table-bordered">
								<tr scope="row">
									<th scope="col">
										produit
										<br>
										(reference)
									</th>
									<th scope="col">
										Prix
									</th>
									<th scope="col">
										Quantité
									</th>
									<th scope="col">
										Total
									</th>
								</tr>
								<tbody>
									{% for item in items %}
										<tr>
											<td scope="row">
												{{ item.product.reference}}
											</td>
											<td>
												{{item.product.price}}
												€
											</td>
											<td>
												<a href="{{ path("cart_subQ", {"id": item.product.id }) }} ">
													<img src=" {{ asset('img/less.svg') }} " alt="" class="less">
												</a>
												{{item.quantity}}
												<a href="{{ path("cart_addQ", {"id": item.product.id }) }} ">
													<img src=" {{ asset('img/add.svg') }} " alt="" class='more'>
												</a>
											</td>
											<td>
												{{item.quantity * item.product.price}}
												€
											</td>
											<td class="border-none ">
												<a href=" {{ path('cart_remove', {'id': item.product.id }) }} " class="btn btn-danger btn-sn ">
													Suprimer
												</a>
											</td>
										</tr>
									{% endfor %}
									<tr class='recup' id="livraison">
										<td>
											Livraison
										</td>
										<td>
											90 €
										</td>
										<td>
											1
										</td>
										<td>
											90 €
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3" class="text-right border-none" scope="row">
											Total :
										</td>
										<td>
											<span id="total">
												{{ total }}
											</span>
											€
										</td>
									</tr>
									{% if promoCode is defined %}
										<tr>
											<td colspan="3" class="text-right border-none" scope="row">
												Reduction de
												{{ promoCode.reduction }}
												% pour le code
												{{ promoCode.code }}
												:
											</td>
											<td>
												<span id="total">
													{{ (total * (promoCode.reduction/100))|number_format(2) }}
												</span>
												€
											</td>
										</tr>

										<tr>
											<td colspan="3" class="text-right border-none" scope="row">
												Total :
											</td>
											<td>
												<span id="total">
													{{ (total -( total * (promoCode.reduction/100)))|number_format(2) }}
												</span>
												€
											</td>
										</tr>
									{% endif %}
								</tfoot>
							</table>

							<form action=" {{ path('cart_index') }} " method="post">
								{% if error is defined %}
									<p>
										{{ error }}
									</p>
								{% endif %}
								<div class="input-group mb-3">
									<input type="text" class="form-control" name='promoCode' placeholder="Code Promo" aria-label="Recipient's username" aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="submit">
											Ajoutez
										</button>
									</div>
								</div>
							</form>
						</section>
					{% else %}
						<p class='TC alone'>
							Surprise, c'est vide !
						</p>
					{% endif %}
				</section>


				{# {{ form_start(form, {attr: {id: form.vars.id}}) }}
																																																		<div class="form-group" width="60% !important">
																																																		  <label for="card-element">
																																																		    Credit or Debit Card
																																																		  </label>
																																																		  <div id="card-element" class="form-control  form-control-lg" width="300px !important"></div>
																																																		  <div id="card-errors" class="help-block" role="alert"></div>
																																																		</div>
																																																		{{ form_end(form) }} #}

			</div>
		{% endblock %}
