{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}
	{% block banniere %}
				<!-- banniere -->
				<section class="h-flex">
					<div class="presentation">
						<div class='title-flex'>
							<div class="trait trait-left">
								<img src=" {{ asset('img/trait.svg') }}" alt="">
							</div>
							<h1 class='h1-presentation'>
								Authentification
							</h1>
							<div class="trait trait-right">
								<img src=" {{ asset('img/trait.svg') }}" alt="">
							</div>

						</section>
					{% endblock %}
{% block content %}
	<div class="center">

		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">
				{{ flashError }}
			</div>
		{% endfor %}
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.password.first, {
            'attr': { 'placeholder': 'Mot De Passe' }
        }) }}
		{{ form_row(registrationForm.password.second, {
            'attr': { 'placeholder': 'Confirmez Mot De Passe' }
        }) }}
		{{ form_row(registrationForm.agreeTerms, { label: "J'accepte les CGU", 'attr':{'class': 'TC'}}) }}

		<button type="submit" class="btn btn-primary">
			S'inscrire
		</button>
		{{ form_end(registrationForm) }}
	</div>


{% endblock %}
