{% extends "admin/baseAdmin.html.twig" %}
{% block lib %}
	<link rel="stylesheet" href="{{asset('lib/vanilla-calendar/css/vanilla-calendar-min.css')}}">
	<script src="{{asset('lib/vanilla-calendar/js/vanilla-calendar-min.js')}}"></script>
{% endblock %}
{% block banniere %}{% endblock %}
{% block content %} 

	<div class="request">
		<div id="myCalendar" class="vanilla-calendar"></div>
	<p>
		<a href=" {{ path('admin_show_customProject', { 'date': 'all' }) }} ">Tous les demandes </a>
	</p>
	{% for order in orders %}
	<table>
		<th>
			Jour
		</th>
		<th>
			Type de client
		</th>
		<th>
			nom
		</th>
		<th>
			mail
		</th>
		<th>
			tel
		</th>
		<th>
			mess
		</th>

		<tbody>
			<tr>
			<td>
				{{ order.day|date("d/m/Y") }}
			</td>
				<td>
					{{ order.typeClient }}
				</td>
				<td>
					{{ order.nom }}
				</td>
				<td>
					{{ order.mail}}
				</td>
				<td>
					{{order.phone}}
				</td>
				<td>
					{{order.mess}}
				</td>
			</tr>
		</tbody>
	</table>
	{% for img in order.img %}
        <img src=" {{'https://www.staffdeco.fr/asset/imgSurMesure/' ~ img  }} " alt="">
	{% endfor %}
{% endfor %}</div>
{% endblock %}
{% block js %}
			<script src=" {{ asset('customMain.js') }} "></script>
{% endblock %}