{% extends "admin/baseAdmin.html.twig" %}
{% block lib %}
	<link rel="stylesheet" href="{{asset('lib/vanilla-calendar/css/vanilla-calendar-min.css')}}">
	<script src="{{asset('lib/vanilla-calendar/js/vanilla-calendar-min.js')}}"></script>
{% endblock %}
{% block banniere %}
{% endblock %}
{% block content %}

	<br>
	<section class="order">
		<div id="myCalendar" class="vanilla-calendar"></div>
		<p>
			<a href=" {{ path('admin_index', { 'date': 'all'}) }} ">
				Voir toutes mes commandes
			</a>
		</p>
		<p>
			<a href=" {{ path('admin_index', { 'date': 'all', 'ready' : 'true', 'orderCode' : 'null'}) }} ">
				Commande en attente de traitement
			</a>
		</p>
		<p>
			<a href=" {{ path('admin_show_customProject') }} ">
				Projets sur mesure
			</a>
		</p>
			<p>
			<a href=" {{ path('admin_partenariat') }} ">
				Partenariat
			</a>
		</p>
		<p>
			Cherchez une commande par numéro de commande
		</p>
		<div class="input-group">
			<form action=" {{ path('admin_index') }} " method='post'>
				<div class="form-outline">
					<input type="search" id="form1" class="form-control" name='SingleOrderCode'/>
					<label class="form-label" for="form1"></label>
				</div>
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search">
						Cherchez
					</i>
				</button>
			</form>
		</div>
		<h1 class='h1-admin'>
			Commandes pour le
			{{date}}
		</h1>

		{% if orders|length > 0  %}

			{% for order in orders %}
				<div class='history'>

					<table>
						<th>
							code de commande
						</th>
						<th>
							email
						</th>
						<th>
							nom
						</th>
						<th>
							n° de rue
						</th>
						<th>
							voie
						</th>
						<th>
							code postal
						</th>
						<th>
							pays
						</th>
						<th>
							récup.
						</th>

						<tbody>
							<tr>
								<td>
									{{ order.orderCode }}
								</td>
								<td>
									{{ order.user.email }}
								</td>
								<td>
									{{ order.name}}
								</td>
								<td>
									{{order.numberAdress}}
								</td>
								<td>
									{{order.nameAdress}}
								</td>
								<td>
									{{order.postalCode}}
								</td>
								<td>
									{{order.country}}
								</td>
								<td>
									{{order.expedition}}
								</td>
							</tr>
							{% if order.expedition == 'livraison' %}
								<tr>
									<td>
										Livraison
									</td>
									<td>
										90€
									</td>
									<td>
										1
									</td>
									<td>
										90€
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
					<table>
						<th>
							Produit(reference)
						</th>
						<th>
							Prix
						</th>
						<th>
							Quantité
						</th>
						<th>
							Total
						</th>
						<tbody>
							{% set total = 0 %}
							{% for cart in order.cart %}
								<tr>

									<td>
										{{ cart.product.reference}}
									</td>
									<td>
										{{cart.product.price}}
									</td>
									<td>
										{{cart.quantity}}
									</td>
									<td>
										{{cart.quantity * cart.product.price}}
									</td>
									{% set total =  (cart.quantity * cart.product.price) + total %}
								</tr>
							{% endfor %}
						</tbody>
						<tfoot class='foot-facture'>
							<tr>
								<td colspan="3" class="text-right border-none" scope="row">
									Total :
								</td>
								<td>
									<span id="total">
										{{ total }}
									</span>
									€
								</td>
							</tr>
							{% if order.promoCode|length > 0 %}
								<tr>
									<td colspan="3" class="text-right border-none" scope="row">
										Reduction de
										{{ order.promoCode.reduction}}
										% pour le code
										{{ order.promoCode.code }}
										:
									</td>
									<td>
										<span id="total">
											{{ (total * (order.promoCode.reduction/100))|number_format(2) }}
										</span>
										€
									</td>
								</tr>
								<tr>
									<td colspan="3" class="text-right border-none" scope="row">
										Total :
									</td>
									<td>
										<span id="total">
											{{ (total -( total * (order.promoCode.reduction/100)))|number_format(2) }}
										</span>
										€
									</td>
								</tr>
							{% endif %}
						</tfoot>
					</table>
					{% if order.ready != true %}
						<a href=" {{ path('admin_index', { 'orderCode': order.orderCode, 'date' : 'null' }) }} " class="btn btn-primary">
							Prévenir le client de la disponibilté de la commande
						</a>
					{% else %}
						<p>
							Le client est prévenue que la commande est prête
						</p>
					{% endif %}
				</div>
				<br>
			{% endfor %}
		{% else %}
			<p>
				Aucune commande pour le
				{{ date}}
			</p>
		{% endif %}
	</section>
	{% block js %}
		<script src=" {{ asset('lib/vanilla-calendar/js/main.js') }} "></script>
	{% endblock %}
{% endblock %}
