{% extends 'admin/baseAdmin.html.twig' %}

{% block banniere %}
{% endblock %}
{% block content %}
	<section>


	
	<div>
		{{ form_start(form,  {'id': 'form_add_product'}) }}
		<h2>
			Ajoutez un produit
		</h2>
			{{ form_widget(form) }}
	
			<div id="cara"></div>
			<div onClick='add()' >Ajoutez une caractéristique</div>
			<button class="btn btn-primary btn-add">{{ button_label|default('Valider') }}</button>
		{{ form_end(form) }}

			<a href=" {{ path('admin_edit_category') }} ">
				<button class="btn">
					Gérez mes categories
				</button>
			</a>

		{{ form_start(formPromoCode,  {'id': 'form_add_product'}) }}
			<h2>Ajoutez un code promo </h2>
			{{ form_widget(formPromoCode) }}
	
			<button class="btn btn-primary btn-add">{{ button_label|default('Valider') }}</button>
		{{ form_end(formPromoCode) }}	
				
		{{ form_start(formPromoCodeDelete,  {'id': 'form_add_product'}) }}
	<H3>Supprimer un code promo </H3>
			{{ form_widget(formPromoCodeDelete) }}
	
			<button class="btn btn-primary btn-add">{{ button_label|default('Valider') }}</button>
		{{ form_end(formPromoCodeDelete) }}	
		

			<a href="{{ path('admin_index') }}">
				Retour
			</a>
		
	</div>
{# 
<pre>
	{{ dump(t) }}
</pre>

{% for filtre in t %}
	<pre>
		{{ dump(filtre) }}
	</pre>
{% endfor %}

	</section>
{% block js %}
<script  type="text/javascript">

let filtres = [];
{% set i = 0 %}

{% set ifiltreValue = 0 %}
{% for categoryName, arrayWithFiltresArray in t %}

	{% set index = loop.index %}
	let arrayFiltre{{index}} = [];

	{% for filtreArray in arrayWithFiltresArray %}
	let filtreValue{{ifiltreValue}} = {};

		{% for filtreName, value in filtreArray %}
			let array{{i}} = filtreValue{{ifiltreValue}}["{{filtreName}}"] = "{{value}}";
			filtreValue{{categoryName}} = array{{i}};
		{% set i = i+1 %}
		{% endfor %}
	
	arrayFiltre{{index }}= filtreValue{{ifiltreValue}};
	{% set ifiltreValue = ifiltreValue+1 %}
	{% endfor %}

	filtres.push(arrayFiltre{{index}});
console.log('{{categoryName}}')

{% endfor %}
console.log(filtres);
</script> #}
{# <script src=" {{ asset('cookie.js') }} "></script>
{% endblock %} #}

{% endblock %}
