{% extends 'admin/baseAdmin.html.twig' %}
{% block lib %}
				<link rel="stylesheet" href="{{asset('lib/rangeSlider/css/ion.rangeSlider.min.css')}}">
{% endblock %}
{% block banniere %}
{% endblock %}
{% block title %}
	Ajoutez une categorie
{% endblock %}
{% block content %}
	<div class="w100">

		<div class="flex justify-around">

			{{ form_start(formMain) }}
			Ajoutez categories principale

			{{ form_row(formMain.name)}}
			{{ form_row(formMain.image)}}

			<button class="btn">
				{{ button_label|default('Valider') }}
			</button>
			{{ form_end(formMain) }}

			<div>
				Ajoutez une catégories segondaire
				{{ form_start(form) }}
					{{ form_widget(form) }}
					<input type="text" name="filtre[]" id="" placeholder='Intitulé du filtre'>	
					<input type="text" name="unit[]" id="" placeholder='Unité (€, cm, m ..)' >	
					<input type="text" name="min[]" id="" placeholder='Unité min' >	
					<input type="text" name="max[]" id="" placeholder='Unité max' >	
					<div id='addCategory' onClick='addCategory()'>Ajoutez une caractéristiques</div>
					<div id="otherCategory"></div>
					<button class="btn">{{ button_label|default('Valider') }}</button>
				{{ form_end(form) }}			
			</div>

			{{ form_start(formD) }}
			Supprimer une catégories segondaire
			{{ form_row(formD.categorie, {
            label: 'Catégories à supprimer'
        		}) }}
			<button class="btn">
				{{ button_label|default('Valider') }}
			</button>
			{{ form_end(formD) }}

			{{ form_start(formDMain) }}
			Supprimer une catégories princiaple
			{{ form_row(formDMain.MainCategorie, {
            label: 'Catégories à supprimer'
        		}) }}
			<button class="btn">
				{{ button_label|default('Valider') }}
			</button>
			{{ form_end(formDMain) }}


		</div>

		<a href="{{ path('admin_add') }}">
			<button class="btn">
				éditer produit
			</button>
		</a>
		
    
	</div>

{% endblock %}
{% block js %}
		<script src=" {{ asset('lib/rangeSlider/js/ion.rangeSlider.js') }} "></script>
		<script src=" {{ asset('lib/rangeSlider/js/main.js') }} "></script>

{% endblock %}