{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Produit{% endblock %}
{% block content %}
    <h1>Product</h1>

    <table class="table">

        <tbody>
           <tr> 
               <th>
                    <a href=" {{ path('cart_add', {'id': product.id, 'category': 'produit'}) }} ">Ajoutez au panier</a>
               </th>
           </tr>
            <tr>
                <th>nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
              <tr>
                <th>Categorie</th>
                <td>{{ product.categorie}}</td>
            </tr>
        </tbody>
    </table>
    {% for image in product.images %}
        <div>
            <img src=" {{ asset('/uploads/'~ image.name ) }} " alt="" srcset="" width="150px">
        </div>
    {% endfor %}

    <a href="{{ path('product_index') }}">Retour</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>    
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
