{% extends 'base.html.twig' %}

{% block title %}
	Edit Product
{% endblock %}
{% block navBarMobile %}{% endblock %}
{% block navBar %}{% endblock %}
{% block content %}
	<div class="w100">
		<h1>
			Edit Product
		</h1>

		<div class="flex justify">
			{{ form_start(form) }}
				{{ form_widget(form) }}
				{% for key, value in product.description %}
					<div id="otherCara"> 
						<div id='{{ loop.index }}'>
							<input type="text" name="name[]" id="" value='{{ key }}'>	
							<input type="text" name="cara[]" id="" value='{{ value }}'>
							<div onclick="del({{ loop.index }})">suprimer</div>	
						</div>										
					</div>
				{% endfor %}
				<div id="cara"></div>
				<div id='add' onClick='add()' >Ajoutez une caractéristiques</div>
				<button class="btn">{{ button_label|default('Valider') }}</button>
			{{ form_end(form) }}
			{{ form_start(formImage, {'action': path('product_edit', {'id' : product.id}), 'method': 'POST'} ) }}
			{{ form_row(formImage.image)}}
			<img src=" {{ asset('uploads/' ~ product.imageMain) }} " alt="">
			{{ form_row(formImage.images)}}
			{% for imageName in product.complementaryImage %}
			<img src=" {{ asset('uploads/' ~ imageName) }} " alt=""> 
			<a href=" {{ path('deleteImgComplementary', { 'prod': product.id, 'imgName': imageName } ) }} ">suprimer</a>

			{% endfor %}
			<button class="btn">
				{{ button_label|default('Modifier les images') }}
			</button>
			{{ form_end(formImage) }}
            
		</div>


		<a href="{{ path('product_show', {'id': product.id, 'main_category': product.mainCategory }) }}">
			<button class="btn">
				Retour
			</button>
		</a>
	</div>

	{{ include('product/_delete_form.html.twig') }}
{% endblock %}
