{% block base %}
	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{{asset('style.css')}}">
			<link rel="stylesheet" href="{{asset('lib/bootstrap/css/bootstrap.min.css')}}">
			{% block lib %}
			{% endblock %}
			<meta name="format-detection" content="telephone=no">
			<title>
				Staff Déco
			</title>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-P9XHY3SBR1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
			function gtag() {
			dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-P9XHY3SBR1');
			</script>
		</head>
		<body>
			<!-- Collapsible content -->
			<div
				class="collapse navbar-collapse" id="navbarSupportedContent22">

				<!-- Links -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="https://www.staffdeco.fr/index.html">
							Accueil
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.staffdeco.fr/presentation.html">
							Présentation
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://boutique.staffdeco.fr/">
							Produits
						</a>
					</li>
					<li class="nav-item">
                		<a class="nav-link" href="https://www.staffdeco.fr/surMesure.php">Sur Mesure</a>
           			 </li>
					<li class="nav-item">
						<a class="nav-link" href="https://staffdeco.fr/realisations.html">
							Réalisations
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('user_index') }} ">
							Mon Compte
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.staffdeco.fr/contact.html">
							Contact
						</a>
					</li>
				</ul>
				<!-- Links -->
			</div>

			<!-- Collapsible content -->
			{% block navBarMobile %}
				<!--Navbar MOBILE -->
				<nav class="navbar navbar-dark  indigo darken-2 nav-top">
					<!-- Navbar brand -->
					<!-- Collapse button -->
						<button class="navbar-toggler third-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation"> <div class="animated-icon3">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
					<a href="https://boutique.staffdeco.fr/">
						<img src=" {{ asset('img/logoStaffdeco.png') }} " alt="logo staffdeco" class="logo-mobile">
					</a>
					<div class="">
						<a class="nav-link cart-mobile" href=" {{ path('cart_index') }} ">
							<img src=" {{ asset('img/cart.png') }} " alt="" class="cart">
							<span>
								{{ nbProduct }}
							</span>
						</a>
					</div>
				</nav>
			{% endblock %}

			{% block navBar %}
				<!--/.Navbar-->
				<div class="main-content-wrapper d-flex clearfix">
					<nav class="justify-content-center nav-top ">
						<ul class='flex-nav'>
							<img src="{{ asset('img/logoStaffdeco.png') }}" alt="logo staffdeco" class="logo ">


							<li class="nav-item  ">
								<a class="nav-link " href="https://www.staffdeco.fr/index.html">
									Accueil
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="https://www.staffdeco.fr/presentation.html">
									Présentation
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link un" href="https://boutique.staffdeco.fr/">
									Produits
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="https://www.staffdeco.fr/realisations.html">
									Réalisations
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.staffdeco.fr/surMesure.php">Sur Mesure</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.staffdeco.fr/contact.html">
									Contact
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href=" {{ path('user_index') }} ">
									<span>
										Mon Compte
									</span>
									{# <img src=" {{ asset('img/account.png') }} " alt="" class="cart"> #}
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href=" {{ path('cart_index') }} ">
									<img src=" {{ asset('img/cart.png') }} " alt="" class="cart">
									<span>
										{{ nbProduct }}
									</span>
								</a>
							</li>


						</ul>
						<div class="ornement">
							<img src=" {{asset('img/angle.png')}} " alt="logo staffdeco" class="angle logo ">
						</div>
					</nav>
				</div>
			{% endblock %}


			{% block banniere %}
				<!-- banniere -->
				<section class="h-flex">
					<div class="presentation">
						<div class='title-flex'>
							<div class="trait trait-left">
								<img src=" {{ asset('img/trait.svg') }}" alt="">
							</div>
							<h1 class='h1-presentation'>
								Nos Produits
							</h1>
							<div class="trait trait-right">
								<img src=" {{ asset('img/trait.svg') }}" alt="">
							</div>

						</section>
					{% endblock %}

					{% block content %}
					{% endblock %}

					{% block footer %}

						<footer>
							<img src=" {{ asset('img/rosace.png') }}" alt="deco" class="rosace">
							<div class="ml-footer first">
								<p class="mt-footer">
									NOUS DECOUVRIR
								</p>


								<p class="page">
									<a href="https://www.staffdeco.fr/">
										<img src=" {{ asset('img/fleche.png') }}" alt="deco" class="fleche">
										Accueil
									</a>
								</p>
								<p class="page">
									<a href="https://www.staffdeco.fr/presentation.html">
										<img src=" {{ asset('img/fleche.png') }}" alt="deco" class="fleche">
										Présentation
									</a>
								</p>
								<p class="page">
									<a href="https://boutique.staffdeco.fr/">
										<img src=" {{ asset('img/fleche.png') }}" alt="deco" class="fleche">
										Produits
									</a>
								</p>
								<p class="page">
									<a href="https://www.staffdeco.fr/realisations.html">
										<img src=" {{ asset('img/fleche.png') }}" alt="deco" class="fleche">
										Réalisations
									</a>
								</p>
								<p class="page">
									<a href="https://www.staffdeco.fr/contact.html">
										<img src=" {{ asset('img/fleche.png') }}" alt="deco" class="fleche">
										Mentions légales
									</a>
								</p>


							</div>
							<div class="ml-footer">
								<p class="mt-footer">
									NOUS CONTACTER
								</p>
								<div class="flex contact">
									<span class="image">
										<img src=" {{ asset('img/loca.png') }} " alt="deco" class="localisation">
									</span>
									<span>
										60, rue Marcel Dassault
										<br>
										93140 Bondy
									</span>
								</div>
								<div class="flex contact">
									<span class="image">
										<img src=" {{ asset('img/mail.png') }}" alt="deco" class="localisation">
									</span>
									<span>
										contact@staffdeco.fr
									</span>
								</div>
								<div class="flex contact">
									<span class="image">
										<img src=" {{ asset('img/phone.png') }}" alt="deco" class="localisation phone">
									</span>
									<span class="number">
										06 63 63 70 01
									</span>
								</div>
							</div>
						</footer>
					{% endblock %}

					<script src=" {{ asset('lib/bootstrap/js/bootstrap.min.js') }} "></script>
					<script src=" {{ asset('lib/jquery/js/jquery-2.2.4.min.js') }} "></script>
					<script src=" {{ asset('cookie.js') }} "></script>

					{% block js %}
					{% endblock %}

				</body>
			</html>

		{% endblock %}
	</body>
</html>
