{% extends "base.html.twig" %}


		{% block content  %}
			<div class="container-main">
				<p class='under-tittle tl'>
					Le Staff est un matériau qui va vous permettre de réaliser des décors avec une extrême finesse. Nous vous proposons un large choix de produits et pouvons également personnaliser selon vos envies. N’hésitez pas à consulter notre catalogue en bas de page.
				</p>

				<section class="categorys">
			

					{% for category in categories %}

						<div class="flex-center single-produits">

							<div class=" overlay-image _ax container-img">
								<a href=" {{ path('product_products', {'category_product': category.name, 'main_category': category.mainCategory }) }} ">

									<img class=" image _ay img-produits rosace-produit" src=" {{ asset('uploads/'~category.image.name) }} " alt="Alt text"/>
									<div class=" text _2 eyes">
										<img src=" {{ asset('img/oeil.svg') }} " alt="" srcset="">
									</div>
								</a>

							</div>
							<div class="text-categorie">
								<p class="title-produit">
									<strong>
										{{ category.name }}
									</strong>
								</p>
								{{ category.description }}
							</div>
						
							
						</div>


					{% endfor %}

					{# <div class="flex-center single-produits">
																				                    </div> #}
				</section>
			</div>
		{% endblock %}
