{% extends "base.html.twig" %}


		{% block content  %}
			<div class="container-main">
				<p class='under-tittle tl'>
					Le Staff est un matériau qui va vous permettre de réaliser des décors avec une extrême finesse. Nous vous proposons un large choix de produits et pouvons également personnaliser selon vos envies. N’hésitez pas à consulter notre catalogue en bas de page.
				</p>

				<section class="categorys">

					{% for category in categories %}

						<div class="flex-center single-produits">

							<div class=" overlay-image _ax container-img">
								<a href=" {{ path('product_products', {'category_product': category.name, 'main_category': category.mainCategory }) }} ">

									<img class=" image _ay img-produits rosace-produit" src=" {{ asset('uploads/'~category.image.name) }} " alt="Alt text"/>
									<div class=" text _2 eyes">
										<img src=" {{ asset('img/oeil.svg') }} " alt="" srcset="">
									</div>
								</a>

							</div>
							<div class="text-categorie">
								<p class="title-produit">
									<strong>
										{{ category.name }}
									</strong>
								</p>
								{{ category.description }}
							</div>
						</div>


					{% endfor %}

					{# <div class="flex-center single-produits">
																												                        <div class=" overlay-image _ax container-img">
																												                            <a href=" {{ asset('catalogue/corniches.pdf') }} " target="_blank">
																												                                <img class=" image _ay img-produits " src=" {{ asset('img/corniches.png') }} " alt="Alt text" />
																												                                <div class=" text _2 ">
																												                                    <a href=" {{ asset('catalogue/corniches.pdf') }} " target="_blank" class="eyes-back">
																												                                        <img src=" {{ asset('img/oeil.svg') }} " alt="" srcset="">
																												                                    </a>
																												                                </div>
																												                            </a>
																												                        </div>
																												                        <div class="text-produits">
																												                            <p class="title-produit"><strong>Les corniches</strong></p> Les corniches vont se poser sur le pourtour du plafond. Elles vont donner de l’élégance à votre plafond et le mettre en valeur.
																												                        </div>
																												                    </div>
																												
																												                    <div class="flex-center single-produits">
																												                        <div class=" overlay-image _ax container-img">
																												                            <a href=" {{ asset('catalogue/moulureAngle.pdf') }} " target="_blank">
																												                                <img class=" image _ay img-produits " src=" {{ asset('img/moulure.jpeg') }} " alt="Alt text" />
																												                                <div class=" text _2 ">
																												                                    <a href=" {{ asset('catalogue/moulureAngle.pdf') }} " target="_blank" class="eyes-back">
																												                                        <img src=" {{ asset('img/oeil.svg') }} " alt="" srcset="">
																												                                    </a>
																												                                </div>
																												                            </a>
																												                        </div>
																												                        <div class="text-produits">
																												                            <p class="title-produit"><strong>Les moulures</strong></p> Qui n’a jamais rêvé avoir des moulures au plafond ? Elles apporteront une touche d’élégance à votre intérieur.
																												                        </div>
																												                    </div>
																												
																												                    <div class="flex-center single-produits">
																												                        <div class=" overlay-image _ax container-img">
																												                            <a href=" {{ asset('catalogue/chapiteau.pdf') }} " target="_blank">
																												                                <img class=" image _ay img-produits colonne " src=" {{ asset('img/colonne.jpeg') }} " alt="Alt text" />
																												                                <div class=" text _2 ">
																												                                    <a href= "{{ asset('catalogue/chapiteau.pdf') }} " class="eyes-back"  target="_blank">
																												                                        <img src=" {{ asset('img/oeil.svg') }} " alt="" srcset="">
																												                                    </a>
																												                                </div>
																												                            </a>
																												                        </div>
																												                        <div class="text-produits">
																												                            <p class="title-produit"> <strong>Les colonnes et pilastres</strong> </p>Les colonnes et les pilastres sont deux éléments très différents. En effet, le pilastre est encastré dans un mur, tandis que la colonne est un élément isolé. Les colonnes et les
																												                            pilastres donnent un effet majestueux à votre habitation.
																												                        </div>
																												                    </div> #}
				</section>
			</div>
		{% endblock %}
