{% extends "base.html.twig" %}
{% block navBar %}
     <!--/.Navbar-->
    <div class="main-content-wrapper d-flex clearfix">
        <nav class="justify-content-center nav-top ">
            <ul class='flex-nav'>
                <img src="{{ asset('img/logoStaffdeco.png') }}" alt="logo staffdeco" class="logo ">


                <li class="nav-item  ">
                    <a class="nav-link" href=" {{ path('MyApp_index') }} ">
                        Accueil
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link un" href=" {{ path('MyApp_presentation') }} ">
                        Présentation
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="produits.html">
                         Produits
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('MyApp_realisation') }} ">
                        Réalisations
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('MyApp_contact') }}">
                        Contact
                    </a>
                </li>
            </ul>
            <div class="ornement"><img src=" {{asset('img/angle.png')}} " alt="logo staffdeco" class="angle logo "></div>
            </nav>
        </div>
{% endblock %}

{% block banniere %}
       <!-- banniere -->
        <section class="h-flex">
            <div class="presentation">
                <div class='title-flex'>
                    <div class="trait trait-left">
                        <img src=" {{ asset('img/trait.svg') }}" alt="">
                    </div>
                    <h1 class='h1-presentation'>
                        Presentation
                    </h1>
                    <div class="trait trait-right">
                        <img src=" {{ asset('img/trait.svg') }}" alt="" >
                    </div>
        </section>
{% endblock %}

{% block content %}
    <div class="container-main">
                <div class='under-tittle-presentation containers'>
                    Fort d’une quinzaine d'années expériences, Staff Déco vous propose son savoir-faire pour réaliser votre projet de décoration en Staff de A à Z, à savoir la conception, la fabrication, la distribution et la pose. Le métier de staffeur
                    est bien plus qu’un métier, car il s’agit avant tout d’une passion. C’est la passion du détail, de la finesse qui permet de façonner des décors somptueux.
                    <br>

                    <p class="alone">
                        Nous disposons d’une large gamme de produits et pouvons également personnaliser le matériau selon vos envies.
                    </p>
                    <p class="under-line">Comment procédons-nous ? </p>
                </div>

                <div class="container-process">

                    <section class="process">
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 1 : <br>
                            <div class="ml">Nous étudions ensemble votre projet et prenons toutes les mesures dont nous avons besoin.</div>
                        </div>
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 2 :<br>
                            <div class="ml"> Nous préparons un modèle qui nous servira de moule pour reproduire de façon parfaite les différents éléments.</div>
                        </div>
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 3 :<br>
                            <div class="ml"> Une fois le moule réalisé, nous le remplissons à l’aide d’une brosse pour réaliser la première couche qu’on appelle l’imprimé. <br> Puis, avec l’aide d’un pinceau nous chassons les bulles d’air.</div>
                        </div>
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 4 :<br>
                            <div class="ml"> Nous déposons par dessus une fibre végétale, appelée aussi filasse. Cette filasse permet de rigidifier le plâtre.</div>
                        </div>
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 5 :<br>
                            <div class="ml"> La filasse est recouverte par une couche de plâtre et les bords vont être lissés.</div>
                        </div>
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 6 :<br>
                            <div class="ml"> Après une vingtaine de minutes, le plâtre peut être démoulé et deposé dans le séchoir pour 24h.</div>
                        </div>
                        <div class="stape"><img src=" {{ asset('img/arrow.png') }}" alt="" srcset="" class="arrow"> Etape 7 :<br>
                            <div class="ml"> Nous posons les différents éléments dans votre maison.
                            </div>
                        </div>
                    </section>

                    <aside class="img-process">
                        <img src="  {{ asset('img/1.jpg') }}  " alt="" class="img-presentation">
                        <img src="  {{ asset('img/2.jpg') }} " alt="" class="left img-presentation">
                        <img src="  {{ asset('img/3.jpg') }} " alt="" class="img-presentation">
                        <img src="  {{ asset('img/4.jpg') }} " alt="" class="right img-presentation">
                    </aside>
                </div>
            </div>
{% endblock %}