{% extends "user/userBase.html.twig" %}
{% block banniere %}
	<!-- banniere -->
	<section class="h-flex order-mobile">
		<div class="presentation">
			<div class='title-flex'>
				<div class="trait trait-left">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>
				<h1 class='h1-presentation'>
					historique de vos commandes
				</h1>
				<div class="trait trait-right">
					<img src=" {{ asset('img/trait.svg') }}" alt="">
				</div>

			</section>
		{% endblock %}
		{% block content %}
			{% set i = 1 %}
			{% for order in orders %}
				<div class='history'>
					<p>
						{{ i }}
						- Numéro de commande :
						{{ order.orderCode }}


						datant du
						{{ order.date|date("d/m/Y") }}
					</p>
					<table>
						<th>
							Produit
							<br>
							(reference)
						</th>
						<th>
							Prix
						</th>
						<th>
							Quantité
						</th>
						<th>
							Total
						</th>
						<tbody>

							{% for cart in order.cart %}
								<tr>
									<td>
										{{ cart.product.reference}}
									</td>
									<td>
										{{cart.product.price}}
									</td>
									<td>
										{{cart.quantity}}
									</td>
									<td>
										{{cart.quantity * cart.product.price}}
									</td>
								</tr>
							{% endfor %}
							{% if order.expedition == 'livraison' %}
								<tr>
									<td>
										Livraison
									</td>
									<td>
										90€
									</td>
									<td>
										1
									</td>
									<td>
										90€
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
				{% set i = i + 1 %}
				<br>
			{% endfor %}
		{% endblock %}
